{% extends "base.html" %}

{% block content %}

<div>
    <form method = ['POST', 'GET']>
        <label for "username">Username:
            <input type="text" name="username" value="{{ username }}" />
            <p class="error">{{ error1 }}</p>
        </label>

        <label for "password">Password:
        <input type="password" name="password" value="{{ password }}" />
        <p class="error">{{ error2 }}</p>
        </label>

        <label>Verify password:
            <input type="password" name="verify_password" value="{{ verify_password }}" />
            <p class="error">{{ error3 }}</p>
        </label>
        
        <label for "email">Email:
            <input type="text" name="email" value="{{ email }}" />
            <p class="error">{{ error4 }}</p>
            </label>

        <input type="submit">
    </form>      
</div>
{% endblock %}
